body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  
  form label {
    margin-bottom: 10px;
  }
  
  form input[type="text"],
  form input[type="file"] {
    margin-bottom: 20px;
  }
  
  form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .image {
    width: 200px;
    height: 200px;
    margin: 10px;
    position: relative;
  }
  
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .image:hover .overlay {
    opacity: 1;
  }
  
  .image .overlay button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  